@import url("https://fonts.googleapis.com/css2?family=Bellefair:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed");
@import url("https://fonts.googleapis.com/css2?family=Barlow");

:root{
    --col-bl: #0b0d17;
    --col-pp: #d0d6f9;
    --col-wh: #FFFFFF;
    --font-family-l: "Bellefair";
    --font-family-sc: "Barlow Condensed";
    --font-family-s: "Barlow";
}

h1{
    font-family: var(--font-family-l);
    font-size: 150px;
    font-weight: normal;
}

h2{
    font-family: var(--font-family-l);
    font-size: 100px;
    font-weight: normal;
}

h3{
    font-family: var(--font-family-l);
    font-size: 56px;
    font-weight: normal;
}

h4{
    font-family: var(--font-family-l);
    font-size: 32px;
    font-weight: normal;
}

h5{
    font-family: var(--font-family-sc);
    font-size: 28px;
    letter-spacing: 4.75px;
    font-weight: normal;
    color: var(--col-pp);
}

.sub-head1{
    font-family: var(--font-family-l);
    font-size: 28px;
    color: var(--col-wh);
}

.sub-head2{
    font-family: var(--font-family-s);
    font-size: 14px;
    letter-spacing: 2.35px;
    color: var(--col-pp);
}

.nav-text{
    font-family: var(--font-family-sc);
    font-size: 16px;
    letter-spacing: 2.8px;
    font-weight: normal;
    position: relative;
    top: -1px;
    color: var(--col-wh);
}

p{
    line-height: 32px;
    font-family: var(--font-family-s);
    font-size: 18px;
    color: var(--col-pp);
    text-emphasis: normal;
}

.status-box.focus{
    background-color: #979797 !important;
    visibility: visible;
    opacity: 50%;
}

.crew-subnav div.focus{
    background-color: #979797;
    opacity: 50%;
}

.tech-subnav div.focus{
    opacity: 100%;
}

*{
    margin: 0;
    padding: 0;
}

html{
}

body{
    background-color: var(--col-bl);
    background-image: url(./assets/home/background-home-desktop.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--col-wh);
    overflow-x: scroll;
}

body.destination-body{
    background-image: url(./assets/destination/background-destination-desktop.jpg);
}

body.crew-body{
    background-image: url(./assets/crew/background-crew-desktop.jpg);
}

body.tech-body{
    background-image: url(./assets/technology/background-technology-desktop.jpg);
}


/* header section */
.mobile-nav{
    height: 0;
    visibility: hidden;
}
.mobile-nav.visible{
    visibility: hidden;
}

header{
    margin-top: 40px;
    height: 96px;
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 55px;
}

.box1{
    margin-left: calc(60px - 3%);
    width: calc(51% - 163px);
    height: 1px;
    background-color: #979797;
    z-index: 2;
    position: relative;
    left: 3%;
}

.box2{
    width: 52%;
    height: 96px;
    background-color: RGBa(255, 255,255,4%);
    backdrop-filter: blur(81.55px);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.mbox{
    height: 96px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    color: var(--col-wh);
    margin-left: 0%
}

.status-box{
    width: 100%;
    height: 2px;
    background-color: var(--col-wh);
    visibility: hidden;
    position: relative;
    top: 31px;
}
.visible{
    visibility: visible;
}
.home-box{
    margin-left: 10%;
}
.tech-box{
    margin-right: 15%
}


/* HOME contents section */ 

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Content-1{
    margin-right: 24%;
    margin-left: 30%;
    margin-top: calc(42% - 136px);
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.Content-2{
    margin-top: calc(55% - 136px);
    margin-left: 38%;
    display: flex;
    flex-direction: column;
}

.home-explore-button{
    border-radius: 50%;
    width: 274px;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--col-wh);
}

.home-explore-button-h4{
    letter-spacing: 2px;
}


/* DESTINATION contents section */ 

.Content-1.destination-c1{
    margin-left: 163px;
    margin-top: 60px;
    margin-right: 0;
}

.Content-2.destination-c2{
    margin-left: 20%;
    width: 450px;
    margin-top: 120px;
    gap: 14px;
}

.Content-1.destination-c1 h5{
    color: var(--col-wh);
}

.destination-h5-1{
    opacity: 25%;
}

.moon{
    margin-top: 15%;
    margin-left: 15%;
    width: 445px;
    height: auto;
}

.destination-subnav{
    display: flex;
    justify-content: space-around;
    height: 34px;
    width: 300px;
    margin-top: 12%;
    margin-bottom: 23px;
}

.destination-subnav .mbox{
    height: 34px;
    color: var(--col-pp);
}

.destination-subnav .moon-box{
    margin-left: 0;
}

.destination-subnav .status-box{
    position: relative;
    top: 1px;
}

.destination-subnav *{
    color: var(--col-pp);
}

.nav-text.cur-nav{
    color: var(--col-wh);
}

.destination-c2 hr{
    background-color: #383B4B;
    border: 0;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 14px;
}

.destination-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 11px;
}

/* CREW contents section */ 

.Content-1.crew-c1{
    margin-left: 163px;
    margin-top: 60px;
    margin-right: 0;
    gap: 0;
}

.Content-2.crew-c2{
    margin-left: 100px;
    margin-top: 62px;
    width: auto;
    height: calc(100vh - 198px);
    flex-direction: column-reverse;
}

.Content-1.crew-c1 h5{
    color: var(--col-wh);
}

.crew-c1 .crew-box-1{
    margin-top: 27px;
    margin-bottom: 120px;
    width: 444px;
}

.crew-c1 h4{
    margin-top: 150px;
    margin-bottom: 15px;
    opacity: 50%;
}

.crew-subnav{
    margin-bottom: 100px;
    margin-top: auto;
    width: 132px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}

.crew-subnav div{
    width:16px;
    height:16px;
    border-radius:8px;
    background-color: #979797;
    opacity: 20%;
}

.crew-subnav .cur-nav{
    background-color: white;
    opacity: 100%;
}

.crew-image.a{
    height: 712px;
    width: 568px;
}

.crew-image.b{
    height: 654px;
    width: 453px;
}

.crew-image.c{
    height: 681px;
    width: 554px;
}

.crew-image.d{
    height: 607px;
    width: 615px;
}

#crew-i-s{
    height: 0;
}

.hr-mobile{
    visibility: hidden;
}

/*TECHNOLOGY section */
.Content-1.tech-c1{
    margin-left: 163px;
    margin-top: 60px;
    margin-right: 0;
    gap: 0;
}

.Content-2.tech-c2{
    margin-left: 0px;
    margin-top: 140px;
    width: auto;
}

.Content-1.tech-c1 h5{
    color: var(--col-wh);
}

.content-div{
    margin-top: 137px;
    display: flex;
    flex-direction: row;
}

.Content-1.tech-c1 .text-div{
    width: 470px;
}

.tech-subnav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 304px;
    margin-right: 80px;
}

.tech-subnav div{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 1px solid var(--col-wh);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 25%;
}

.tech-subnav .cur-nav{
    opacity: 100%;
    background-color: var(--col-wh);
    color: var(--col-bl);
}

.tech-image{
    width: 515px;
    height: 527px;
    margin-left: auto;
}

#tech-n{
    margin-top: 10px;
    margin-bottom: 17px;
}

#tech-i-s{
    height: 0;
}

.content-div .nav-text{
    color: var(--col-pp);
}

/* media section */

/*Tablet*/
@media screen and (max-width: 1025px){
    p{
        font-size: 15px;
        line-height: 28px;
    }
    h2{
        font-size: 80px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 20px;
    }
    .nav-text{
        font-size: 14px;
    }
        
    body{
        background-image: url(./assets/home/background-home-tablet.jpg);
        overflow-y: scroll;
    }
    body.destination-body{
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
    body.crew-body{
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
    body.tech-body{
        background-image: url(./assets/technology/background-technology-tablet.jpg);
    }
    header{
        margin-top: 0px;
        height: 96px;
    }
    .logo{
        margin-left: 40px;
    }
    .box1{
        visibility: hidden;
        width: 0px;
    }
    .box2{
        width: 65%;
        height: 96px;
        margin-left: auto;
        z-index: 1;
        display: flex;
        justify-content: space-around;
    }
    .home-box{
        margin-left: 0%;
    }
    .tech-box{
        margin-right: 0%
    }
    main{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .Content-1{
        width: 444px;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 23px;
    }
    .Content-1 p{
        text-align: center;
    }
    
    .Content-2{
        margin-top: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .home-explore-button{
        width: 242px;
        height: 242px;
        margin-top: 80px;
    }

    .Content-1.destination-c1{
        margin-left: 0;
        width: 100vw;
        margin-top: 30px;
        margin-right: 0;
    }

    .Content-2.destination-c2{
        margin-left: 0;
        width:  570px;
        margin-top: 50px;
        gap: 8px;
    }

    .Content-1.destination-c1 h5, .Content-1.crew-c1 h5, .Content-1.tech-c1 h5{
        margin-right: 50vw;
    }
    .moon{
        margin-top: 15px;
        margin-left: 0;
        width: 300px;
        height: auto;
    }
    .destination-subnav{
        margin-top: 0;
    }

    .destination-c2 hr{
        width: 100%;
    }

    .destination-info{
        width: 100%;
        justify-items: center;
    }

    .Content-1.crew-c1{
        margin-left: 0;
        width: 100vw;
        margin-top: 30px;
        margin-right: 0;
        height: 350px;
    }

    .Content-2.crew-c2{
        margin-left: 0;
        margin-top:0;
        width: auto;
        height: 570px;
        flex-direction: column-reverse;
    }
    .crew-c1 .crew-box-1{
        margin-top: 16px;
        margin-bottom: 40px;
    }

    .crew-c1 h4{
        margin-top: 60px;
        margin-bottom: 8px;
    }

    .crew-subnav{
        margin-bottom: 0;
        margin-top: auto;
    }
    .crew-image.a{
        height: 572px;
        width: 456px;
    }

    .crew-image.b{
        height: 532px;
        width: 368px;
    }

    .crew-image.c{
        height: 533px;
        width: 432px;
    }

    .crew-image.d{
        height: 532px;
        width: 540px;
    }

    .Content-1.tech-c1{
        margin-left: 0;
        width: 100vw;
        margin-top: 30px;
        margin-right: 0;
    }
    
    .Content-2.tech-c2{
        height: 0;
        margin-top: 0;
    }

    #tech-i-s{
        height: 310px;
        width: 100%; 
        margin-top: 60px;
        margin-bottom: 50px;
    }
    
    .content-div{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Content-1.tech-c1 .text-div{
        width: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tech-subnav{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        width: 210px;
        height: 60px;
        margin-right: 0;
        margin-bottom: 44px;
    }
    .tech-subnav div{
        width: 60px;
        height: 60px;
    }
    .tech-image{
        height: 0;
    }
}

/*Phone*/
@media screen and (max-width: 600px){
    p{
        font-size: 15px;
        line-height: 25px;
    }
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 56px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 16px;
    }
    .nav-text{
        font-size: 16px;
    }

    body{
        background-image: url(./assets/home/background-home-mobile.jpg);
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: start;
        height:100vh;
    }

    body > *{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    body.destination-body{
        background-image: url(./assets/destination/background-destination-mobile.jpg);
    }
    body.crew-body{
        background-image: url(./assets/crew/background-crew-mobile.jpg);
    }
    body.tech-body{
        background-image: url(./assets/technology/background-technology-mobile.jpg);
    }
    header{
        margin-top: 0px;
        height: 88px;
        margin-right: auto;
    }
    .logo{
        margin-left: 24px;
        width: 40px;
        height: 40px;
    }
    .box2{
        width: 0;
        margin-left: 0;
        visibility: hidden;
    }
    .box2 .visible{
        visibility: hidden;
    }
    .mobile-nav-icon{
        margin-left: auto;
        margin-right: 24px;
        margin-top: 33px;
        width: 24px;
        height: 21px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .mobile-nav-icon > *{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .mobile-nav-icon .a{
        width: 24px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        visibility: hidden;
    }
    .mobile-nav-icon .a.visible{
        visibility: visible;
    }
    .mobile-nav-icon .a div{
        width: 24px;
        height: 3px;
        background-color: var(--col-pp);
        z-index: 10;
    }
    .mobile-nav-icon .b.visible{
        width: 20px;
        height: 20px;
        background-color: transparent;
        position: relative;
    }
    .mobile-nav-icon .b.visible:before, .mobile-nav-icon .b.visible:after{
        content: '';
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: var(--col-pp);
        border-radius: 1px;
        top: 10px;
        z-index: 10;
    }
    .mobile-nav-icon .b.visible:before{
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        transform:rotate(45deg);
        left:1px;
    }
    .mobile-nav-icon .b.visible:after{
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        transform:rotate(-45deg);
        right:1px;
    }
    .mobile-nav{
        width: 60vw;
        height: 100%;
        margin-left: auto;
        background-color: RGBa(255, 255,255,4%);
        backdrop-filter: blur(40px);
        visibility: hidden;
        z-index: 8;
    }
    .mobile-nav.visible{
        visibility: visible;
    }
    .home-box{
        margin-top: 120px;
    }
    .mobile-nav .mbox{
        height: 50px;
        width: 100%;
    }
    
    main{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .Content-1{
        width: 320px;
        margin-top: 120px;
    }
    
    .home-explore-button{
        width: 150px;
        height: 150px;
        margin-top: 80px;
    }

    .Content-1.destination-c1{
        margin-top: 90px;
    }

    .Content-2.destination-c2{
        margin-top: 20px;
        width:  320px;
        text-align: center;
    }

    .Content-1.destination-c1 h5, .Content-1.crew-c1 h5, .Content-1.tech-c1 h5{
        margin-right: 0;
    }

    .moon{
        width: 180px;
    }
    .destination-subnav{
        margin-top: 0;
        margin-bottom: 10px;
        width: 250px;
    }

    .destination-info{
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;
        margin-bottom: 50px;
    }
    #destination-l{
        grid-row: 2;
        margin-bottom: 15px;
    }

    .Content-1.crew-c1{
        margin-top: 90px;
        width: 320px;
        height: auto;
    }
    #crew-i-s{
        height: 222px;
        width: auto;
        margin-top: 30px;
    }
    .hr-mobile{
        width: 100%;
        height: 1px;
        visibility: visible;
        background-color: #383B4B;
        margin-bottom: 30px;
    }
    .crew-c1 .crew-box-1{
        width: 320px;
        order: 3;
    }
    .Content-2.crew-c2{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    #crew-n{
        order: 2;
    }
    #crew-m{
        order: 1;
        margin-top: 0;
    }
    .crew-subnav{
        margin-bottom: 35px;
    }
    
    .Content-1.tech-c1{
        margin-top: 90px;
    }
    .Content-2.tech-c2{
        width: 0;
    }

    #tech-i-s{
        height: 170px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    
    .Content-1.tech-c1 .text-div{
        width: 320px;
    }
}



