@import url("https://fonts.googleapis.com/css2?family=Bellefair:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed");
@import url("https://fonts.googleapis.com/css2?family=Barlow");

:root{
    --col-bl: #0b0d17;
    --col-pp: #d0d6f9;
    --col-wh: #FFFFFF;
    --font-family-l: "Bellefair";
    --font-family-sc: "Barlow Condensed";
    --font-family-s: "Barlow";
}

h1{
    font-family: var(--font-family-l);
    font-size: 150px;
    font-weight: normal;
}

h2{
    font-family: var(--font-family-l);
    font-size: 100px;
    font-weight: normal;
}

h3{
    font-family: var(--font-family-l);
    font-size: 56px;
    font-weight: normal;
}

h4{
    font-family: var(--font-family-l);
    font-size: 32px;
    font-weight: normal;
}

h5{
    font-family: var(--font-family-sc);
    font-size: 28px;
    letter-spacing: 4.75px;
    font-weight: normal;
    color: var(--col-pp);
}

.sub-head1{
    font-family: var(--font-family-l);
    font-size: 28px;
    color: var(--col-wh);
}

.sub-head2{
    font-family: var(--font-family-s);
    font-size: 14px;
    letter-spacing: 2.35px;
    color: var(--col-pp);
}

.nav-text{
    font-family: var(--font-family-sc);
    font-size: 16px;
    letter-spacing: 2.8px;
    font-weight: normal;
    position: relative;
    top: -1px;
    color: var(--col-wh);
}

p{
    line-height: 32px;
    font-family: var(--font-family-s);
    font-size: 18px;
    color: var(--col-pp);
    text-emphasis: normal;

}

*{
    margin: 0;
    padding: 0;
}

html{
}

body{
    background-color: var(--col-bl);
    background-image: url(./assets/home/background-home-desktop.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--col-wh);
    overflow-x: scroll;
}

body.destination-body{
    background-image: url(./assets/destination/background-destination-desktop.jpg);
}

body.crew-body{
    background-image: url(./assets/crew/background-crew-desktop.jpg);
}

body.tech-body{
    background-image: url(./assets/technology/background-technology-desktop.jpg);
}


/* header section */
header{
    margin-top: 40px;
    height: 96px;
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 55px;
}

.box1{
    margin-left: calc(60px - 3%);
    width: calc(51% - 163px);
    height: 1px;
    background-color: #979797;
    z-index: 2;
    position: relative;
    left: 3%;
}

.box2{
    width: 52%;
    height: 96px;
    background-color: RGBa(255, 255,255,4%);
    backdrop-filter: blur(81.55px);
    position: relative;
    z-index: 1;
    display: flex;
}

.mbox{
    height: 96px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    color: var(--col-wh);
    margin-left: 7%
}

.status-box{
    width: 100%;
    height: 2px;
    background-color: var(--col-wh);
    visibility: hidden;
    position: relative;
    top: 31px;
}
.visible{
    visibility: visible;
}
.home-box{
    margin-left: 20%;
}


/* HOME contents section */ 

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Content-1{
    margin-right: 24%;
    margin-left: 30%;
    margin-top: calc(42% - 136px);
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.Content-2{
    margin-top: calc(55% - 136px);
    margin-left: 38%;
    display: flex;
    flex-direction: column;
}

.home-explore-button{
    border-radius: 50%;
    width: 274px;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--col-wh);
}

.home-explore-button-h4{
    letter-spacing: 2px;
}


/* DESTINATION contents section */ 

.Content-1.destination-c1{
    margin-left: 163px;
    margin-top: 60px;
    margin-right: 0;
}

.Content-2.destination-c2{
    margin-left: 20%;
    width: 450px;
    margin-top: 120px;
    gap: 14px;
}

.Content-1.destination-c1 h5{
    color: var(--col-wh);
}

.destination-h5-1{
    opacity: 25%;
}

.moon{
    margin-top: 15%;
    margin-left: 15%;
    width: 445px;
    height: auto;
}

.destination-subnav{
    display: flex;
    height: 34px;
    margin-top: 12%;
    margin-bottom: 23px;
}

.destination-subnav .mbox{
    height: 34px;
    color: var(--col-pp);
}

.destination-subnav .moon-box{
    margin-left: 0;
}

.destination-subnav .status-box{
    position: relative;
    top: 1px;
}

.destination-subnav *{
    color: var(--col-pp);
}

.nav-text.cur-nav{
    color: var(--col-wh);
}

.destination-c2 hr{
    background-color: #383B4B;
    border: 0;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 14px;
}

.destination-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 11px;
}

/* CREW contents section */ 

.Content-1.crew-c1{
    margin-left: 163px;
    margin-top: 60px;
    margin-right: 0;
    gap: 0;
}

.Content-2.crew-c2{
    margin-left: 100px;
    margin-top: 62px;
    width: auto;
    height: calc(100vh - 198px);
    flex-direction: column-reverse;
}

.Content-1.crew-c1 h5{
    color: var(--col-wh);
}

.crew-c1 .crew-box-1{
    margin-top: 27px;
    margin-bottom: 120px;
    width: 444px;
}

.crew-c1 h4{
    margin-top: 150px;
    margin-bottom: 15px;
    opacity: 50%;
}

.crew-subnav{
    margin-bottom: 100px;
    margin-top: auto;
    width: 132px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}

.crew-subnav div{
    width:16px;
    height:16px;
    border-radius:8px;
    background-color: #979797;
    opacity: 20%;
}

.crew-subnav .cur-nav{
    background-color: white;
    opacity: 100%;
}

.crew-image.a{
    height: 712px;
    width: 568px;
}

.crew-image.b{
    height: 654px;
    width: 453px;
}

.crew-image.c{
    height: 681px;
    width: 554px;
}

.crew-image.d{
    height: 607px;
    width: 615px;
}

/*TECHNOLOGY section */
.Content-1.tech-c1{
    margin-left: 163px;
    margin-top: 60px;
    margin-right: 0;
    gap: 0;
}

.Content-2.tech-c2{
    margin-left: 0px;
    margin-top: 140px;
    width: auto;
}

.Content-1.tech-c1 h5{
    color: var(--col-wh);
}

.content-div{
    margin-top: 137px;
    display: flex;
    flex-direction: row;
}

.Content-1.tech-c1 .text-div{
    width: 470px;
}

.tech-subnav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 304px;
    margin-right: 80px;
}

.tech-subnav div{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 1px solid var(--col-wh);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-subnav .cur-nav{
    background-color: var(--col-wh);
    color: var(--col-bl);
}

.tech-image{
    width: 515px;
    height: 527px;
    margin-left: auto;
}

#tech-n{
    margin-top: 10px;
    margin-bottom: 17px;
}


/* media section */

@media screen and (max-width: 1468px){
    .status-box{
        top: 15px;
    }
}



