@import url("https://fonts.googleapis.com/css2?family=Bellefair:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed");

:root{
    --col-bl: #0b0d17;
    --col-pp: #d0d6f9;
    --col-wh: #FFFFFF;
    --font-family-l: "Bellefair";
    --font-family-s: "Barlow Condensed";
}

h1{
    font-family: var(--font-family-l);
    font-size: 150px;
    font-weight: normal;
}

h2{
    font-family: var(--font-family-l);
    font-size: 100px;
    font-weight: normal;
}

h3{
    font-family: var(--font-family-l);
    font-size: 56px;
    font-weight: normal;
}

h4{
    font-family: var(--font-family-l);
    font-size: 32px;
    font-weight: normal;
}

h5{
    font-family: var(--font-family-s);
    font-size: 28px;
    letter-spacing: 4.75px;
    font-weight: normal;
}

.sub-head1{
    font-family: var(--font-family-l);
    font-size: 28px;
}

.sub-head2{
    font-family: var(--font-family-s);
    font-size: 14px;
}

.nav-text{
    font-family: var(--font-family-s);
    font-size: 16px;
    letter-spacing: 2.8px;
    font-weight: 700;
    position: relative;
    top: -1px;
}

*{
    margin: 0;
    padding: 0;
}

html{
}

body{
    background-color: var(--col-bl);
    background-image: url("./assets/home/background-home-desktop.jpg");
    background-size: cover;
    color: var(--col-wh);
    overflow-x: scroll;
}


/* header section */
header{
    margin-top: 40px;
    height: 96px;
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 55px;
}

.box1{
    margin-left: calc(13% - 103px);
    width: 35%;
    height: 1px;
    background-color: #979797;
    z-index: 2;
    position: relative;
    left: 3%;
}

.box2{
    width: 52%;
    height: 96px;
    background-color: RGBa(255, 255,255,4%);
    backdrop-filter: blur(81.55px);
    position: relative;
    z-index: 1;
    display: flex;
}

.mbox{
    height: 96px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    color: var(--col-wh);
    margin-left: 7%
}

.status-box{
    width: 100%;
    height: 2px;
    background-color: var(--col-wh);
    visibility: hidden;
    position: relative;
    top: 37px;
}
.visible{
    visibility: visible;
}
.home-box{
    margin-left: 20%;
}


/* HOME contents section */ 

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Content-1{
    margin-right: 24%;
    margin-left: 30%;
    margin-top: calc(42% - 136px);
    display: flex;
    flex-direction: column;
    gap: 23px;

}

.Content-2{
    margin-top: calc(55% - 136px);
    margin-left: 38%;
}


#home-p-1{
    line-height: 32px;
}

.home-explore-button{
    border-radius: 50%;
    width: 274px;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--col-wh);
}

.home-explore-button-h4{
    letter-spacing: 2px;
}


/* DESTINATION contents section */ 







/* media section */

@media screen and (max-width: 1468px){
    .status-box{
        top: 28px;
    }
}



