@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root{
  /* primary */
  --col-mb: hsl(213, 96%, 18%);
  --col-ppb: hsl(243, 100%, 62%);
  --col-pb: hsl(228, 100%, 84%);
  --col-lb: hsl(206, 94%, 87%);
  --col-sr: hsl(354, 84%, 57%);
  /* neutral */
  --col-cg: hsl(231, 11%, 63%);
  --col-lg: hsl(229, 24%, 87%);
  --col-mn: hsl(217, 100%, 97%);
  --col-ab: hsl(231, 100%, 99%);
  --col-wh: hsl(0, 0%, 100%);
}


h3{
  font-size: 2rem;
  font-weight: 700;
  color: var(--col-mb);
}

h4{
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--col-mb);
}

h5{
  font-size: 1rem;
  font-weight: 400;
  color: var(--col-wh);
}

p{
  font-size: 1rem;
  font-weight: 400;
  color: var(--col-cg);
}

.error-message{
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--col-sr);
}

.container .sub-1{
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--col-mb);
}

.pricing{
  color: var(--col-ppb);
  font-weight: 500;
}


.App {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-mn);
  height: 100vh;
  width: 100vw;
}

.App-box{
  width: min(max(600px, 70vw), calc(max(450px, 80vh) * 8 / 5));
  height: min(max(450px, 80vh), calc(max(600px, 70vw) * 5 / 8));
  background-color: var(--col-wh);  
  border-radius: 2vmin;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


/* HEADER SECTION */
.header-ct{
  height: 100%;
}
.header-desktop{
  height: calc(100% - 3vmin);
  aspect-ratio: 0.4824;
  margin: 1.5vmin;
  margin-right: 0;
  border-radius: 1.5vmin;
  background-image: url("../public/assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.catalog{
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.catalog .circle{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--col-lb);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--col-pb);
  font-weight: 700;
}

.catalog .circle.cur{
  background-color: var(--col-lb);
  color: var(--col-mb);
}

.catalog-info{
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
}

.catalog-info > *{
  font-size: 0.9rem;
}

.catalog-info h5{
  letter-spacing: 1px;
  font-weight: 500;
}


/* CONTENT SECTION */
.content-ct{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-ct > *{
  width: 70%;
}

.cont-title{
  margin-top: 8%;
  height: 15%;
}

.cont-title h3{
  margin-bottom: 0.9rem;
}

.cont-main{
  margin-top: 5%;
  height: 72%;
}

.cont{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*CONTENT 1*/
.cont.a form{
  display: flex;
  flex-direction: column;
}


.form-upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-lower{
  width: 100%;
  height: 2.8rem;
  border-radius: 0.5rem;
  border: 1px solid var(--col-lg);
  margin-bottom: 1.2rem;
  padding-left: 0.8rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--col-mb);
}

.form-lower.warn{
  border: 1px solid var(--col-sr);
}

.form-lower:focus{
  outline: none;
  border: 1px solid var(--col-ppb);
}

.form-lower::placeholder{
  color: var(--col-cg);
  font-size: 1rem;
  font-weight: 700;
}


.control-bar{
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.control-bar button{
  width: 25%;
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--col-wh);
  color: var(--col-mb);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.control-bar .submit-button{
  background-color: var(--col-mb);
  color: var(--col-wh);
}
.d .control-bar .submit-button{
  background-color: var(--col-ppb);
}
.control-bar .go-back-button{
  font-size: 1rem;
  color: var(--col-cg);
  position: relative;
  left: -1.5rem;
}


/*CONTENT 2*/
.b .option-box{
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
}

.b .option{
  width: 30%;
  height: 100%;
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid var(--col-cg);
  justify-content: center;
  align-items: center;
}

.option .container{
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  gap: 0.3rem;
}

.b h5, .c h5, .d h5{
  color: var(--col-mb);
  font-size: 1rem;
  font-weight: 700;
}
.b .option h5{
  margin-top: auto;
}

.option p{
  font-size: 0.9rem;
}
.b .option img{
  width: 2.8rem;
  height: 2.8rem;
}

.toggle-box{
  width: 100%;
  border-radius: 0.4rem;
  margin-top: 8%;
  height: 10%;
  margin-bottom: 15%;
  background-color: var(--col-mn);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-section{
  width: 2.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  margin: 1.8rem;
  background-color: var(--col-mb);
  display: flex;
  align-items: center;
}

.toggle-button{
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 0.35rem;
  background-color: var(--col-wh);
  border: 0;
  position: relative;
}

/*CONTENT-3*/
.c .option-box{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.c .option{
  width: 100%;
  height: 23%;
  border-radius: 0.5rem;
  border: 1px solid var(--col-cg);
  display: flex;
  align-items: center;
}

.checkbox{
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 20%;
  border: 1px solid var(--col-cg);
}

.c .checkbox img{
  width: 0.8rem;
  height: 0.6rem;
}

.c .text-box{
  width: calc(82% - 4.1rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

/*CONTENT 4*/
.price-outer{
  width: 100%;
  height: 80%;
}
.price-inner-padding{
  width: 100%;
  background-color: var(--col-mn);
  border-radius: 0.6rem;
}
.price-inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  gap: 1.5rem;
}
.price-inner p{
  font-size: 0.8rem;
}
.c-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-up-l{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.c-up-l p{
  text-decoration : underline;
  text-decoration-thickness: 2px;
}
.d hr{
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--col-lg);
}
.c-dn{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.c-dn-l{
  display: flex;
  justify-content: space-between;
}
.c-dn h5{
  font-size: 0.9rem;
  font-weight: 400;
}
.price-summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
}
.price-summary p{
  font-size: 0.9rem;
}
.price-summary h5{
  color: var(--col-ppb);
  font-size: 1.3rem;
}

/*CONTENT 5*/
.cont.e{
  justify-content: flex-start;
  align-items: center;
}

.e h3{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.e p{
  line-height: 1.6rem;
  text-align: center;
}

.content-ct-mobile{
  display: flex;
  flex-direction: column;
  background-color: var(--col-wh);
  border-radius: 0.8rem;
  align-items: center;
}

@media (max-width: 650px){
  .App-box{
    width: 100%;
    height: 100%;
    background-color: var(--col-mn);  
    border-radius: 0;
    flex-direction: column;
  }
  .header-ct{
    z-index: 1;
    width: 100%;
    height: auto;
  }
  .header-desktop{
    width: 100%;
    height: auto;
    aspect-ratio: 2.18;
    margin: 0;
    border-radius: 0;
    background-image: url("../public/assets/images/bg-sidebar-mobile.svg");
    background-size: 100vw, auto;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .catalog{
    margin-top: 2.2rem;
    margin-left: 0rem;
    align-items: flex-start;
  }
  
  .catalog .circle{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0rem;
  }
  
  .catalog .circle.cur{
    background-color: var(--col-lb);
    color: var(--col-mb);
  }
  
  .content-ct{
    width: 100%;
    height: auto;
  }  

  .content-ct > *{
    width: 90%;
  }
  .content-ct-mobile > *{
    width: 90%;
    position: relative;
    top: -20%;
    z-index: 2
  }

}