
:root{
  --col-pp:#29172F;
  --col-pk:#D7AAFB;
  --col-lp:#FFF0F5;
  --col-wh:#FFFFFF;
  --col-h1:#ab44ff;

}

h1{
  font-size: 3.5rem;
  font-weight: 600;
}

.grad{
  background: linear-gradient(90deg, var(--col-pk), var(--col-lp));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pk{
  color: var(--col-pk);
}


/* size, position -> color -> display -> etc */
*{
  margin: 0;
  border: 0;
}

.App{
  width: 100%;
  height: 100vh;
  background-color: var(--col-pp);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.Head{
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 3rem;
  width: 100%;
  height: 90px;
  background-color: var(--col-wh);
  display: flex;
  align-items: center;
  
}

.Head .button{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Head .icon{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.Head .title{
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--col-pp);
}

.global-nav{
  width: max(200px, 28%);
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.global-nav p{
  transition: top 0.1s cubic-bezier(0, 0.4, 0.6, 1);
}

.navigation-button{
  position: relative;
  top: 0px;
  cursor: pointer;
  user-select: none;
}

.navigation-button .underline{
  height: 2px;
  background-color: var(--col-h1);
  border-radius: 1px;
}



/*Content General*/
.Content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Home content Cont0 */
.Cont0{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: blur 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Cont0 .Intro{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}














/* Animation */
@keyframes wider{
  from{width: 0%;}
  to{width: 100%;}
}
@keyframes narrower{
  from{width: 100%;margin-left:auto;}
  to{width: 0%;margin-left:auto;}
}
@keyframes blur{
  from{
    -webkit-filter: blur(2rem);
    -moz-filter: blur(2rem);
    -o-filter: blur(2rem);
    -ms-filter: blur(2rem);
    opacity: 0%;
  }
  to{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    opacity: 100%;
  }
}





